headerbar {
  height: 100px;
  padding: 0;
  margin: 0;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 15px;
  background-color: #282828;
  font-family: "Source Code Pro Medium";
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: white;
}

tabbar tabbox tab:selected {
  background-color: #fbf1c7;
  color: #040035;
}

tabbar tabbox tab label {
  font-size: 14px;
}

title {
  height: 10px;
}
